/* General Styles */
:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --purple: hsl(248, 32%, 49%);
  --dark-purple: hsl(249, 10%, 26%);
  --light-pruple: hsl(246, 25%, 77%);
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  background: var(--red) url(./images/bg-intro-desktop.png);
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6{ font-weight: 700; }

b { font-weight: 600;}

.text-white { color: var(--white); }
.text-light { color: var(--light-pruple); }
.text-black { color: var(--dark-purple); }
.text-red { color: var(--red); }

.w-100 { width: 100%; }
.shadow { box-shadow: 0 8px 0 0  hsla(0, 0%, 0%, 0.2); }
.text-uppercase { text-transform: uppercase; }

.btn {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 24px;
}

.btn-cta {
  background: var(--purple);
  color: var(--white);
}

.btn-success {
  background: var(--green);
  color: var(--white);
  box-shadow: inset 0 -4px 0 0 hsla(0, 0%, 0%, 0.2);
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

input {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--light-pruple);
}

input:focus {
  border: 1px solid var(--dark-purple);
}

@media (max-width: 576px) {
  h1, h2, h3, h4, h5, h6{ font-weight: 600; }
}

/* Signup Section */

.signup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}

.signup header {
  color: var(--white);
  /* padding: 50px; */
}

.signup h1 {
  font-size: 4.6rem;
  margin-bottom: 20px;
}

.signup main {
  display: grid;
  padding: 50px;
}

.signup main > * {
  border-radius: 10px;
}

.signup form {
  background: var(--white);
  padding: 50px;
  display: grid;
  gap: 20px;
  text-align: center;
  color: var(--light-pruple);
}


.mb-0 { margin-bottom: 0; }

@media (max-width: 1200px) {
  .signup {
    max-width: 1000px;
  }
}